@import url('https://fonts.googleapis.com/css?family=Catamaran|Lato');
body::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
body::-webkit-scrollbar-thumb {
    background-color: #ff084e;
}
body {
    font-family: 'Lato', sans-serif;
}
.classy-menu.menu-on::-webkit-scrollbar {
    width: 0.5em;
}
.classy-menu.menu-on::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ff084e;
}
.classy-menu.menu-on::-webkit-scrollbar-thumb {
    background-color: #fff;
}
a {
    color: #ff084e
}
.blog-wrapper .single-blog-area .hover-content > a,.regular-page-content-wrapper .regular-page-text blockquote h6 i,.single-blog-wrapper .single-blog-content-wrapper .single-blog--text blockquote h6 i {
    color: #ff084e
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Catamaran', cursive;
}
.header_area .classy-nav-container {
    background: #ff084e;
}
.header_area {
    border-bottom:none;
}
.header_area .favourite-area a, .header_area .user-login-info a, .header_area .cart-area a {
    background: #fff
}
.header_area .classynav ul li a {
    color: #fff
}
.header_area .classynav .dd-arrow:before,.header_area .classynav .dd-arrow:after {
    background: #fff
}
.header_area .classynav ul li.megamenu-item>a:after {
    color: #fff;
}
.btn {
    border-radius: 100px;
}
.essence-btn {
    background: #ff084e
}
.essence-btn.alt {
    border:2px solid #ff084e;
    background: transparent;
    color: #ff084e
}
.essence-btn:hover {
    background: #212121
}
.essence-btn.alt:hover {
    background: #ff084e;
    color: #fff
}
.classy-navbar-toggler .navbarToggler span,.classycloseIcon .cross-wrap span {
    background: #fff
}
.header_area .header-meta {
    background: #fff
}
.breakpoint-on .classy-navbar .classy-menu {
    background: #ff084e
}
.breakpoint-on .classynav>ul>li>a {
    background: transparent;
}
@media only screen and (max-width: 767px) {
    .header_area .classy-navbar {
        padding: 10px 0px 10px 5%;
        height: 60px
    }
}
.header_area .favourite-area a span, .header_area .user-login-info a span, .header_area .cart-area a span {
    color: #ff084e
}
.breadcumb_area.breadcumb-style-two .page-title h2 {
    color: #ff084e
}



.footer_area {
    background: #222
}
.footer_area .single_widget_area .subscribtion_form form input {
    background: #555;
    border:none;
    padding: 15px 20px;
    font-size: 14px;
    color: #fff
}
.footer_area .single_widget_area .subscribtion_form form input:focus,.footer_area .single_widget_area .subscribtion_form form input:hover {
    background: #fff;
    outline: none;
}
.footer_area .single_widget_area .subscribtion_form form input:focus {
    background: #555
}
.footer_area .single_widget_area .subscribtion_form form button {
    background: #ff084e;
    font-size: 14px;
    color: #fff
}



.widget.price .ui-slider-handle {
    background: #ff084e
}


.single_catagory_area:after {
    background: rgba(0,0,0,0.5);
}
.single_catagory_area:hover:after {
    background: #ff084e;
    opacity: 0.5
}
.single_catagory_area .catagory-content,.single_catagory_area:hover .catagory-content {
    border-bottom: 2px solid #fff
}
.single_catagory_area:hover .catagory-content a,.single_catagory_area .catagory-content a {
    color: #fff
}


.brands-area {
    padding: 50px 10%
}


.new_arrivals_area {
    background: #222;
    margin-top: 80px
}
.single-product-wrapper {
    background: transparent;
}
.single-product-wrapper .product-description h6 {
    color: #ff084e
}
.single-product-wrapper .product-description p {
    color: #000
}
.popular-products-slides .single-product-wrapper .product-description p {
    color: #fff
}
.new_arrivals_area .section-heading h2 {
    color: #ff084e
}
.ui-widget.ui-widget-content {
    border:1px solid #ff084e;
}
.widget.price .ui-slider-range.ui-corner-all.ui-widget-header {
    background-color: #ff084e
}
.widget.color .widget-desc ul li a {
    border-radius: 100px;
}
.widget .catagories-menu .sub-menu li > a:hover {
    color: #ff084e
}


#scrollUp {
    border-radius: 100px;
}
.single-product-wrapper .product-img .product-badge.new-badge {
    background: #0f0
}
.single-product-wrapper .product-img .product-badge.offer-badge {
    background: #f00
}
.product-topbar .total-products p span,.product-topbar .nice-select .list .option.selected {
    color: #ff084e
}
.right-side-cart-area .cart-button a span {
    color: #fff
}
.right-side-cart-area .cart-button a {
    background: #ff084e;
    border-left: none;
}

.checkout_details_area form .form-control:focus {
    outline: none;
    background-color: #f0f0f0
}
.single-product-wrapper .product-img .product-favourite a {
    box-shadow: none;
    background: transparent;
}
.brands-area {
    background: #777
}